:root {
    --beige: #BFAFB0;
    --white: #fff;
    --black: #000;
    --red: #d31f1f;
    --della:'Della Respira', serif;
    --water:'Water Brush', cursive;
    --kaus: 'Kaushan Script', cursive;
}

/* LOADER FOR PAGE*/

.loadingbox {
    display: block;  
}

.loader {
    font-family: var(--della);
    border-top: 3px solid var(--beige);
    color: var(--red);
    font-size: 1.4em;
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;
}

.loader-indicator {
    border: 6px solid var(--beige);
    border-top: 6px solid var(--black);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
   0% { transform: rotate(0deg);}
   100% { transform: rotate(360deg);}
}


/* ERRORMESSAGE */

.errorMessage {
    display: block;
    width: max-content;
    font-size: 1.2em;
    color: var(--red);
    padding: 1.5rem;
    margin: 30px auto;
    grid-column-end: span 3;
}

/* LOAD PAGES BUTTON */

.loadmorebtn {
    display: flex;
    font-family: var(--della);
    background-color: var(--white);
    border-radius: 20px;
    align-items: center;
    margin: 30px auto 0;
    padding: 15px 20px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.loadmorebtn:hover {
    background-color: var(--beige);
    border: 3px inset var(--black);
    box-shadow: 0 2px 20px 0px var(--beige);
    padding: 15px 20px;
    color: var(--white);
}

.loadbtn {
    margin: 50px 0 0;
    padding-bottom: 50px;
}



/* SEARCH */

.searchbox {
    display: flex;
    height: 20px;
    border-radius: 60px;
    background-color: var(--beige);
    box-shadow: 0 1px 10px var(--black);
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    margin: 30px auto 50px;
}

.searchbox label {
    display: none;
    visibility: hidden;
}

.searchbox input {
    position: relative;
    padding-left: 1px;
    font-size: 1em;
    margin-left: 10px;
}

.searchbox:hover input  {
    width: 220px;
    transition: 0.7s;
}

.searchbox:hover {
    transition: 0.2s;
    border: 2px solid var(--beige);
    width: 280px;
}

.searchbox input, .searchbox {
    background-color: transparent;
    outline: none;
    width: 0;
    border: none;
}

.searchbox a  {
    display: block;
    background-color: var(--beige);
    justify-content: center;
    padding: 8px 10px;
    border-radius: 50%;
    border: 1px solid var(--black);
}

.searchbox:hover a {
    display: inline;
    border: none;
    padding: 7px 8px;
    margin-left: -10px;
    margin: auto;
}

.rotate {
    transform: rotate(180deg);
    padding-top: -3px;
}

.container-heritage {
    display: flex;
    width: 95%;
    max-width: 400px;
    height: 220px;
    margin: 30px auto;
    padding: 0 20px;
    transform: rotate(4deg);
}

.container-heritage img {
    max-width: 180px;
    max-height: 200px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid var(--black);
}

/* CAROUSEL */

.carousel {
    width: 90%;
    height: 370px;
    position: relative;
    margin: 30px auto;
}

.carousel h3 {
    color: var(--black);
    padding: 0 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


.carlink {
    display: block;
    margin: auto;
    padding: 2px 0;
    color:  var(--black);
    text-align: center;
    background-color: var(--beige);
    border: 2px solid var(--black);
    width: 70%;
    border-radius: 20px;
    bottom: 0;
}

.carlink p  {
    font-size: 1em;
}

.carousel ul {
    margin: 0;
    padding: 0;
}

.postslide {
    position: absolute;
    opacity: 0;
    inset: 0;
}

.postslide[data-active] {
    opacity: 1;
}

.postslide div {
    display: block;
    position: absolute;
    margin: auto;
    width: 90%;
    height: 100%;
    object-fit: cover; 
    border: 3px solid var(--beige);
    box-shadow: 0 2px 20px 0 var(--black);
}

.carbtn {
    position: absolute;
    z-index: 2;
    transform: translateY(40%);
    top: 40%;
    width: 40px;
    height: 40px;
    background-color: var(--beige);
    border: 1px solid var(--black);
    border-radius: 50%;
}

.carousel button.pre {
    left: -7px;
    box-shadow: -5px 10px 20px 0 var(--black);
}

.carousel button.next {
    right: -7px;
    box-shadow: 5px 10px 20px 0 var(--black);
} 

.carousel button:hover {
    background-color: var(--white);
    border: 3px solid var(--black);
}

.carbtn span {
    scale: 2;
    display: block;
    margin: auto;
    color: var(--black);
}

.postcontent2 img {
    width: 100%;
}

.postcontent2 p {
    font-size: 0.8em;
    margin: 5px auto 20px 10px;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    overflow: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);
}

.modal img {
    position: absolute;
    transition: 0.4s all ease;
    width: 80%;
    cursor: pointer;
    max-width: 600px;
}

.modalimg:hover {
    transform: scale(0.9);
}

.modal.show{
    opacity: 1;
    pointer-events: all;
}

.modal.show .modalImg {
    animation: zoom 0.4s linear;
}

.modalbox {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#imageLay {
    border-radius: 25px;
    margin: 0 auto;
    display: block;
    max-width: 75%;
    max-height: 75%;
}

.closemodal {
    position: absolute;
    left: 50%;
    bottom: 20%;
    color: var(--white);
    background-color: transparent;
    border: 4px solid var(--beige);
    border-radius: 50%;
    padding: 12px 11px;
}

.closemodal:hover {
    color: var(--black);
    background-color: var(--beige);
    border: 4px solid var(--white);
}






