@import url("./theme.css");
@import url("./util.css");


/* CSS FOR ALL PAGES (HOME - BLOG - ABOUT - CONTACT */

:root {
    --beige: #BFAFB0;
    --white: #fff;
    --black: #000;
    --red: red;
    --della:'Della Respira', serif;
    --water:'Water Brush', cursive;
    --kaus: 'Kaushan Script', cursive;
    --gluten: 'Gluten', cursive;
    --railway:'Raleway', sans-serif;
    --tran: transparent;
}

/*HOME*/


.mobimg {
    display: block; 
    height: 550px;
    padding: 0;
    background-image: url(/images/traditional-azerbaijani-sweetness.jpeg);
    background-size: cover;
    background-color: var(--white);
    width: 99,5%;
    margin: -30px auto 60px;
    border-bottom: 0.5px solid var(--beige);
    box-shadow: -5px 10px 20px 0 var(--black);
}

/* .mobimg::before {
    content: "";
    position: absolute;
    background-color: var(--black);
    inset: 0;
    transform: skewY(-6deg);
    height: 16%;
    margin-top: 185px;
    z-index: 1;
    opacity: 0.5;
} */


.quote1 {
    padding-top: 120px;
}
.quote1 p {
    display: block;
    font-family: var(--gluten);
    font-weight: 900;
    position: relative;
    color: var(--tran);
    -webkit-text-stroke: 5px var(--white);
    font-size: 3.5em;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.quote1 span {
    text-transform: uppercase;
}

.welcomecontent {
    display: block;
    width: 100%;
    margin: 40px auto;
    padding: 5px 0 40px;
    box-shadow: 0 5px 20px 5px var(--beige);
}

.welcomeimg h2 {
    font-size: 2.8em;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--railway);
    font-weight: 900;
    letter-spacing: 0.1em;
    background-image: url(/images/colorful-collage.avif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    background-size: contain;
    -webkit-text-stroke: 1px var(--black);
}

.welcometxt p {
    font-size: 1.5em;
    text-align: center;
    margin: -30px auto 0;
    font-family: var(--water);
    letter-spacing: 0.1em;
}

.welcometxt a {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid var(--beige);
    padding: 1px 5px;
    margin: 30px auto;
    width: 110px;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: 0 2px 20px 0 var(--black);
}

.welcometxt a:hover {
    background-color: var(--beige);
}

.indexcontact {
    display: block;
    justify-content: center;
    border: 2px solid var(--black);
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px 20px;
    max-height: 130px;
    margin: 20px auto;
    background-color: var(--white);
    width: 85%;
    max-width: 450px;
}

.indexcontact a {
    border:  1px dotted var(--black);
    border-radius: 20px;
    font-size: 0.7em;
    color: var(--black);
    text-transform: uppercase;
    padding: 2px 5px;
}

.indexcontact a:hover {
    background-color: var(--beige);
}

.contact-back {
    display: -webkit-flex;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 300px;
    height: 200px;
    overflow-x: hidden;
    width: 100%;
    padding: 0 20px;
    margin: 20px auto 60px -20px;
    border: 3px solid var(--beige);
}

.heritagetext {
    display: block;
    text-align: right;
    padding-right: 20px;
    color: var(--white);
}

.heritagetext h5 {
    font-family: var(--water);
    font-size: 1.6em;
    padding: 15px 0;
    margin: 10px 0 0;
    letter-spacing: 0.1em;
}

.heritagetext p {
    justify-content: right;
    font-size: 1.1em;
    padding: 10px 0 0;
    margin: 0;
    text-align: right;
}

.container-heritage {
    display: grid;
    grid-template-columns: 45% 55%;
    background-image: url(/images/tasty-kebabs.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: var(--beige);
    height: 250px;
    margin: 0px auto 30px;
}

.container-heritage img {
   visibility: hidden;
   width: 10%;
}

.wrapper-back {
    overflow: hidden;
}



/* BLOG */

.postcontainer {
    border-left: 10px solid var(--beige);
    border-right: 10px solid var(--beige);
    margin: 0 10px;
}

.postbox {
    margin: 0 auto;
    max-width: 420px;
}

.pagename {
    margin: 0 20px;
}

.pagename p {
    display: block;
    text-align: center;
    font-family: var(--della);
    color: var(--beige);
    font-size: 1em;
    max-width: 350px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid var(--beige);
    border-radius: 40px;
    -webkit-text-stroke: 0.6px var(--black);
    text-transform: none;
}

.postcontent {
    border: 3px solid var(--beige);
    margin: 20px 15px;
    color: var(--black);
}

.postcontent:hover {
    border: 3px ridge var(--black);
}

.postcontent h2 {
    color: var(--black);
    margin: 10px;
    padding: 2px 0;
    font-size: 1.1em;
}

.text-justify {
    color: var(--black);
    font-size: 0.9em;
    margin: -10px 10px 30px;
}

.postcontent button {
    display: block;
    color: var(--black);
    font-family: var(--della);
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: var(--white);
    border: 3px solid var(--beige);
    box-shadow: 0 2px 10px 0px var(--beige);
    border-radius: 60px;
    margin: 20px auto;
    width: 80%;
    height: 40px;
}

.postcontent button:hover {
    border: 3px unset var(--black);
    box-shadow: 0 2px 20px 0px var(--beige);
    font-size: 0.9em;
}

.r-m-btn span {
    font-size: 1em;
}

.postsimage {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.postsimage:hover {
    opacity: 0.8;
}

.post-aut-date{
    font-size: 0.6em;
    color: var(--black);
}

.post-aut-date i{
    margin: 10px 0;
    padding-left: 10px;
}

.butaimg {
    display: block;
    margin: 30px auto;
    width: 30px;
    transform: rotate(-25deg);
}



/*BLOGPAGE*/


.postcontainer2 {
    display: block;
    max-width: 600px;
    margin: 10px auto;
}

.postimages {
    display: block;
    width: 95%;
    margin: auto;
    height: 250px;
    object-fit: cover;
    border: 2px solid var(--beige);
    cursor: pointer;
    transition: 0.3s;  
    box-shadow: 0 5px 20px var(--black);
} 

.postimages:hover {
    opacity: 0.8;
}

.wp-block-quote {
    display: block;
    font-size: 0.8em;
    margin: 15px 10px 10px;
    padding: 1px 4px;
    background-color: var(--beige);
    text-align: center;
    border-radius: 10px;
}

.wp-block-columns, .wp-block-columns p {
    word-spacing: 0;
    margin: 2px 10px;
    padding: 2px 0;
    font-size: 0.88em;
    line-height: 1.3rem;
}

.wp-block-heading {
    font-size: 1em;
    margin: 30px 0 5px;
}

.backbutton {
    display: block;
    width: 94%;
    padding: 5px 10px;
    font-size: 0.6em;
    border-bottom: 2px solid var(--beige);
}

.postquote {
    display: flex;
    text-align: center;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 170px;
    max-width: 1000px;
    height: 80px;
    margin-bottom: -10px;
}

.postquote h2 {
    margin: auto;
    font-size: 1em;
    background-color: var(--white);
    padding: 5px 20px;
    border-radius: 20px;
}

.postquote span {
    font-family: var(--water);
    font-size: 1.2em;
}

.likesection {
    display: block;
    margin: 40px auto;
    padding: 10px 0 5px;
    border-top: 5px solid var(--beige);
    border-bottom: 5px solid var(--beige);
}

.likeposts {
    display: flex;
    overflow: scroll;
}

.likesection h3, .likesection p {
    display: block;
    text-align: center;
    font-size: small;
}

.likesection h3 {
    text-transform: uppercase;
    margin-bottom: -15px;
}

.morepostcontent {
    width: 100%;
    height: 200px;
    margin: 20px ;
    border: 2px solid var(--black);
}

.morepostcontent img {
    border: 2px solid var(--black);
    height: 150px;
    width: 200px;
}

.morepostcontent h4{
    margin: 0;
    padding: 15px 5px;
    color: var(--black);
}


/* COMMENT FORM */

.commentcontainer {
    display: block;
    margin: 40px auto 0;
    padding: 20px;
    background-color: var(--beige);
    border: 10px double var(--black);
    border-left: none;
    border-right: none;
}

.commentcontainer h3 {
    text-transform: uppercase;
    margin-left: 5px;
}

.commentcontainer span {
    font-size: 1.1em;
    color: var(--white);
}

.commentbox {
    display: block;
    padding: 6px;
}

.commentform input, .commentform textarea {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border: 3px solid var(--black);
    font-family: var(--della);
    color: black;
    font-size: 1em;
}

.commentform textarea {
    max-width: 500px;

}

.commentcontainer button {
    font-family: var(--della);
    background-color: var(--white);
    border: 3px solid var(--black);
    padding: 5px 10px;
    margin: 10px 6px 0;
    font-size: 0.9em;
    color: var(--black);
    text-transform: uppercase;
}



/* ABOUT */

.aboutname {
    display: block;
    text-align: center;    
    margin: 20px auto;
    font-family: var(--water);
}

.aboutme, .aboutpage {
    display: flex;
    justify-content: space-evenly;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 170px;
    font-family: var(--water);
    border: 2px solid var(--beige);
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 5px;
    font-size: 0.9em;
}

.aboutpage {
    display: block;
    width: 90%;
    margin: 50px auto;
    padding: 5px;
}

.aboutme h2 {
    padding: 10px;
    font-size: 1em;
    text-align: right;
}

.a-m-section {
    display: block;
    background-color: var(--white);
    padding: 3px;
    margin: 20px 10px;
}

.aboutme p {
    font-family: var(--della);
    padding: 2px 12px;
}

.aboutme img {
    display: flex;
    margin: auto 10px;
    background-color: var(--black);
    width: 105px;
    height: 160px;
    border-radius: 50px;
    border: 3px solid var(--white);
    box-shadow: inset 10px 10px 0px var(--black);
}

.aboutpage p, .myquote {
    display: block;
    text-align: center;
    background-color: var(--white);
    font-family: var(--della);
    padding: 20px 10px;
    margin: 10px auto;
    max-width: 80%;
}

.buta {
    display: block;
    letter-spacing: 0.4em;
    max-width: 200px;
    margin: 20px auto 40px;
}

.buta h2 {
    font-size: 3em;
    margin: 50px auto -10px;
}

.buta p {
    border-bottom: 1px solid var(--beige);
    margin-bottom: 2px;
}

.buta span {
    letter-spacing: 0em;
    font-size: 0.8em;
}

.p-span {
    font-style: italic;
    margin-left: -10px;
}

.imgbaku {
    display: block;
    margin: auto;
    padding-bottom: 60px;
    width: 90%;
}


/* CONTACT */

.contact-wrapper {
    display: block;
    margin: -20px auto;
    padding: 20px 0;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 270px;
}

.contact-wrapper h1 {
    background-color: var(--white);
}

.heart {
    font-size: smaller;
}

.contactform {
    display: flex;
    max-width: 380px;
    width: 95%;
    background-color: var(--white);
    border: 2px solid var(--beige);
    border-radius: 20px;
    margin: 15px auto;
}

#c-form {
    display: inline;
    margin: 20px auto;
}

.contactbox {
    display: table-caption;
    margin: 5px auto;
}

.contactbox input, .contactbox textarea {
    width: 230px;
    font-family: var(--della);
    font-size: 1em;
    text-align: left;
    padding: 7px;
    border: 2px solid var(--beige);
}

.contactbox textarea {
    height: 100%;
    margin: 0;
}

.contactbox label {
    font-family: var(--della);
}

#messageerror {
    margin-top: -5px;
}

.contactform button {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 40px;
    font-size: 1.2em;
    background-color: var(--beige);
    text-transform: uppercase;
    border: 3px solid var(--black);
}

.contactform button:hover {
    background-color: var(--white);
    border: 3px solid var(--beige);
}

.errorbox {
    display: none;
    background-color: var(--beige);
    border: 1px solid var(--red);
    font-size: 0.8em;
    width: 235px;
    padding: 2px 5px;
}

.successmessage {
    display: block;
    background-color: var(--white);
    margin: 30px auto;
    padding: 10px 0;
    width: 300px;
    border: 1px solid var(--beige);
    border-radius: 20px;
}

.successmessage p {
    text-align: center;
    font-size: 1.3em;
}





@media screen and (min-width: 500px){

/* HOME */

.mobimg {
    height: 650px;
    background-position: 95%;
}

.quote1 {
    font-size: 1.3em;
}

.welcomeimg h2 {
    font-size: 3.5em;
}

.welcometxt p {
    font-size: 1.8em;
}

.heritagetext h5 {
    font-size: 2.5em;
    letter-spacing: 0.2em;
}

.heritagetext p {
    font-size: 1.3em;
}

.container-heritage {
    height: 300px;
}

}

@media screen and (min-width: 768px){


/* HOME */

.mobimg {
    background-image: url(/images/bbq-grill.jpeg);
    height: 500px;
}

.quote1 {
    padding: 160px 30px;
}

.quote1 p {
    text-align: left;
    font-family: var(--della);
    -webkit-text-stroke: 0px;
    color: var(--white);
    font-size: 2.8em;
    padding: 0;
}

.welcomeimg h2 {
    font-size: 5em;
}

.welcometxt p {
    font-size: 2.2em;
    margin: -60px auto 20px;
}

.container-heritage {
    display: flex;
    justify-content: center;
    margin: 10px auto 150px;
    background-image: none;
    background-color: transparent;
}

.container-heritage img {
    display: block;
    visibility: visible;
    width: 650px;
    height: fit-content;
    margin-left: 90px;
    box-shadow: -10px 4px 25px 0px var(--black);

}

.heritagetext {
    background-color: var(--beige);
    height: fit-content;
    margin: 40px 90px 0 -250px;
    color: var(--black);
    min-width: 300px;
    padding: 0 20px 20px;
    box-shadow: 0px 2px 25px 2px var(--black);
}

.heritagetext p {
    font-size: 1.6em;

}

.heritagetext h5 {
    font-size: 2.7em;
}


/* BLOG */

.borderstyle {
    border-left: 20px ridge var(--beige);
    border-right: 20px groove var(--beige);
}

.postcontainer {
    border: none;
}

.postbox {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    max-width: 900px;
}

.postcontent {
    height: fit-content
}

.text-justify {
    height: 65px;
}

.butaimg {
    display: none;
}

.blogquote {
    display: block;
    background-image: url(/images/pancakes.jpeg);
    object-fit: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 40%;
    border-radius: 5px;
    height: 140px;
}

.pagename p {
    display: block;
    color: var(--black);
    font-size: 1.2em;
    max-width: 100%;
    margin: auto 10px;
    padding: 55px 0;
    height: 140px;
    border: none;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


/* BLOGPAGE*/

.postcontainer2 {
    max-width: 1000px;
}

.postimage {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 300px;
    margin: auto;
    background: content-box radial-gradient(#BFAFB0, #fff);
}

.postimages {
    width: 60%;
    height: 350px;
    justify-content: center;
    margin: auto;
    border: 1px solid var(--black);
}

.wp-block-columns, .wp-block-columns p {
    font-size: 1em;
    line-height: 1.8rem;
}

.wp-block-heading {
    font-size: 1.1em;
}

.wp-block-quote {
    font-size: 1em;
    margin: auto;
    border: 5px solid var(--beige);
    background-color: var(--white);
}

.posttext {
    display: block;
    font-size: 1.1em;
    width: 90%;
    justify-content: center;
    margin: auto;
}

.postquote {
    font-size: 1.3em;
    
}

/* CONTACT */

.contact-wrapper {
    background-image: url(/images/delicious-cakes.jpeg);
    background-size: cover;
    background-position: center;
}

.contactform, .successmessage {
    margin: 40px 50px;
}

.successmessage {
    width: 380px;
    border: 3px solid var(--black);
}

.contactbox input, .contactbox textarea {
    width: 300px;
}

.errorbox {
    width: 305px;
    font-size: 0.9em;
}

/* ABOUT */ 


.a-m-section {
    margin: 20px 50px;
    font-size: 1.2em;
}

.aboutme p {
    padding: 2px 12px 2px -10px;
    margin: 20px;
}

.aboutme img {
    margin: auto -10px auto 10px;
}

.aboutpage p, .myquote {
    font-size: 1.2em;
}

}

@media screen and (min-width: 1000px){


/* HOME */

.mobimg {
    background-image: url(/images/pieces-cake.jpg);
    height: 550px;
}

.quote1 {
    padding: 100px 40px;
}

.quote1 p {
    -webkit-text-stroke: 0.5px var(--black);
    font-size: 3.5em;
    color: var(--beige);
}

.quote1 span {
    color: var(--white);
}

.indexcontact {
    font-size: 1.2em;
    max-width: 550px;
}

.container-heritage {
    margin: 0;
    padding: 0;
    height: max-content;
    padding-bottom: 90px;
}

.heritagetext {
    margin: 60px 90px 0 -250px; 
} 

.container-heritage img {
    min-width: 700px;
    min-height: 400px;
}



/*BLOG*/

.postbox {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-evenly;
    max-width: 900px;
}

.postcontent {
    height: max-content;
}

/* BLOGPAGE*/

.pagename p {
    font-size: 1.4em;
    max-width: 100%;
}

.wp-block-columns, .wp-block-columns p {
    font-size: 1em;
    line-height: 2rem;
}

/* ABOUT */

.aboutcontent {
    display: grid;
    grid-template-columns: 45% 55%;
    margin: 50px 100px;
}

.aboutpage, .aboutme  {
    height: 400px;
    display: block;
    margin: auto;
    justify-content: center;
}

.a-m-section  {
    margin: auto;
    padding: 5px 2px;
}

.aboutme h2 {
    padding: 0 10px;
}

.aboutme p {
    padding: 0;
}

.aboutpage p, .myquote, .a-m-section{
    font-size: 1.3em;
    margin-top: 20px;
    max-width: 90%;
}

.myquote {
    font-size: 1.4em;
}

.aboutme img {
    margin: 10px auto -10px;
}



}

