@import url("./theme.css");
@import url("./common.css");


/* CSS FOR ALL PAGES (HOME - BLOG - ABOUT - CONTACT */

:root {
    --beige: #BFAFB0;
    --white: #fff;
    --black: #000;
    --red: red;
    --della:'Della Respira', serif;
    --water:'Water Brush', cursive;
    --kaus: 'Kaushan Script', cursive;
}

/*HOME*/

.headerbackground {
    display: none;
    visibility: hidden;
}

.mobimg {
    display: block; 
    height: 550px;
    padding: 0;
    background-image: url(/images/traditional-azerbaijani-sweetness.jpeg);
    background-size: cover;
    background-color: var(--white);
    width: 99,5%;
    margin: -30px auto 60px;
    border-bottom: 0.5px solid var(--beige);
    box-shadow: -5px 10px 20px 0 var(--black);
}

.mobimg::before {
    content: "";
    position: absolute;
    background-color: var(--black);
    inset: 0;
    transform: skewY(-6deg);
    height: 16%;
    margin-top: 185px;
    z-index: 1;
    opacity: 0.5;
}

.welcomecontent {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: 0 auto 80px;
    width: 100%;
    max-height: 200px;
}

.welcomeimg img {
    display: block;
    max-height: 200px;
    width: 100%;
    max-width: 170px;
    margin: 70px 0 0;
    border-bottom: 3px solid var(--beige);

}

.welcometxt {
    display: block;
    text-align: right;
    justify-content: right;
    min-width: 200px;
}

.welcometxt h3 {
    font-size: 2.5em;
    text-align: right;
    font-family: var(--water);
    letter-spacing: 0.2em;
    margin: 0 10px -10px -70px;
    padding-top: 20px;
    border-top: 3px solid var(--beige);
}

.welcometxt p {
    font-size: 1.7em;
    text-align: right;
    margin: 0 20px;
}

.welcometxt a {
    display: inline-flex;
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid var(--black);
    padding: 1px 5px;
    width: 130px;
    border-radius: 10px;
    font-size: 0.8em;
    margin: 40px 20px;
}

.welcometxt a:hover {
    background-color: var(--beige);
}

.quote1 p {
    display: block;
    position: relative;
    color: var(--white);
    max-width: 340px;
    font-size: 0.9em;
    margin: auto;
    text-align: center;
    line-height: 20px;
    padding: 150px 0;
    border-radius: 20px;
    z-index: 2;
}

.heritagetext {
    display: block;
    margin: auto;
    text-align: center;
}

.heritagetext h2 {
    font-family: var(--water);
    font-size: 1.6em;
    padding: 5px;
    margin: auto;
    letter-spacing: 0.1em;
    background-color: var(--beige);
}

.heritagetext p {
    font-size: 0.9em;
    padding: 5px;
    max-width: 200px;
    background-color: var(--white);
}

.heritagetext h2, .heritagetext p, .container-heritage img {
    box-shadow: -7px 10px 30px 0 var(--black);
} 

.wrapper-back {
    overflow: hidden;
    max-width: 100%;
}

.heritage-back {
    display: -webkit-flex;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 200px;
    height: 260px;
    width: 110%;
    margin: 60px auto 60px -20px;
    transform: rotate(-4deg);
    border: 3px solid var(--beige);
}

/* BLOG */

.postcontainer {
    border-left: 10px solid var(--beige);
    border-right: 10px solid var(--beige);
    margin: 0 10px;
}

.postbox {
    margin: 0 auto;
    max-width: 420px;
}

.pagename {
    margin: 0 20px;
}

.pagename p {
    display: block;
    text-align: center;
    font-family: var(--della);
    color: var(--beige);
    font-size: 1.3em;
    max-width: 350px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid var(--beige);
    border-radius: 40px;
    -webkit-text-stroke: 0.6px var(--black);
    text-transform: none;
}

.postcontent {
    border: 3px solid var(--beige);
    margin: 20px 15px;
    color: var(--black);
}

.postcontent:hover {
    border: 3px ridge var(--black);
}

.postcontent h2 {
    color: var(--black);
    margin: 10px;
    padding: 2px 0;
    font-size: 1.1em;
}

.text-justify {
    color: var(--black);
    font-size: 0.9em;
    margin: -10px 10px 30px;
}

.postcontent button {
    display: block;
    color: var(--black);
    font-family: var(--della);
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: var(--white);
    border: 3px solid var(--beige);
    box-shadow: 0 2px 10px 0px var(--beige);
    border-radius: 60px;
    margin: 20px auto;
    width: 80%;
    height: 40px;
}

.postcontent button:hover {
    border: 3px unset var(--black);
    box-shadow: 0 2px 20px 0px var(--beige);
    font-size: 0.9em;
}

.r-m-btn span {
    font-size: 1em;
}

.postsimage {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.postsimage:hover {
    opacity: 0.8;
}

.butaimg {
    display: block;
    margin: 30px auto;
    width: 30px;
    transform: rotate(-25deg);
}


/*BLOGPAGE*/


.postcontainer2 {
    display: block;
    max-width: 450px;
    margin: 10px auto;
}


.postimages {
    width: 99%;
    margin: auto;
    height: 250px;
    object-fit: cover;
    border: 2px solid var(--beige);
    cursor: pointer;
    transition: 0.3s;  
} 

.postimages:hover {
    opacity: 0.8;
}

.wp-block-quote {
    display: block;
    font-size: 0.8em;
    margin: -10px auto 10px;
    padding: 1px 0;
    background-color: var(--beige);
    text-align: center;
    border-radius: 10px;
}

.wp-block-columns, .wp-block-columns p {
    word-spacing: 0;
    margin: 2px 10px;
    padding: 2px 0;
    font-size: 0.8em;
}

.wp-block-heading {
    font-size: 1em;
    margin: 10px;
}

.backbutton {
    display: block;
    width: 94%;
    padding: 5px 10px;
    font-size: 0.6em;
    border-bottom: 2px solid var(--beige);
}

.postquote {
    display: flex;
    text-align: center;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 170px;
    height: 80px;
    font-size: 1em;
    margin-bottom: -10px;
}

.postquote p {
    margin: auto;
    background-color: var(--white);
    padding: 5px 20px;
    border-radius: 20px;
}

.postquote span {
    font-family: var(--water);
    font-size: 1.2em;
}

/* ABOUT */

.aboutname {
    display: block;
    text-align: center;    
    margin: 20px auto;
    font-family: var(--water);
}

.aboutme, .aboutpage {
    display: flex;
    justify-content: space-evenly;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 170px;
    font-family: var(--water);
    border: 2px solid var(--beige);
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 5px;
    font-size: 0.9em;
}

.aboutpage {
    display: block;
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    padding: 5px;
}

.aboutme h2 {
    padding: 10px;
    font-size: 1em;
    text-align: right;
}

.a-m-section {
    display: block;
    background-color: var(--beige);
    padding: 3px;
    margin: 10px 20px 10px 10px;
    border-radius: 20px;
    border: 3px solid var(--white);
}

.aboutme p {
    font-family: var(--della);
    padding: 2px 12px;
}

.aboutme img {
    display: flex;
    margin: auto;
    background-color: var(--black);
    width: 105px;
    height: 160px;
    border-radius: 50px;
    border: 3px solid var(--white);
    box-shadow: inset 10px 10px 0px var(--black);
}

.aboutpage p, .myquote {
    display: block;
    text-align: center;
    background-color: var(--white);
    font-family: var(--della);
    padding: 20px 10px;
    margin: 10px auto;
    max-width: 80%;
}

.buta {
    display: block;
    letter-spacing: 0.4em;
    max-width: 200px;
    margin: 20px auto 40px;
}

.buta h2 {
    font-size: 3em;
    margin: 50px auto -10px;
}

.buta p {
    border-bottom: 1px solid var(--beige);
    margin-bottom: 2px;
}

.buta span {
    letter-spacing: 0em;
    font-size: 0.8em;
}

.p-span {
    font-style: italic;
    margin-left: -10px;
}

.imgbaku {
    display: block;
    margin: auto;
    padding-bottom: 60px;
    width: 90%;
}


/* CONTACT */

.contact-wrapper {
    display: block;
    margin: -20px auto;
    padding: 20px 0;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 170px;
}

.contact-wrapper h1 {
    background-color: var(--white);
}

.heart {
    font-size: smaller;
}

.contactform {
    display: flex;
    max-width: 380px;
    width: 95%;
    background-color: var(--white);
    border: 2px solid var(--beige);
    border-radius: 20px;
    margin: 15px auto;
}

#c-form {
    display: inline;
    margin: 20px auto;
}

.contactbox {
    display: table-caption;
    margin: 5px auto;
}

.contactbox input, .contactbox textarea {
    width: 220px;
    font-family: var(--della);
    font-size: 1em;
    text-align: left;
    padding: 7px;
    border: 2px solid var(--beige);
}

.contactbox textarea {
    height: 100%;
    margin: 0;
}

.contactbox label {
    font-family: var(--della);
}

#messageerror {
    margin-top: -5px;
}

.contactform button {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 40px;
    font-size: 1.2em;
    background-color: var(--beige);
    text-transform: uppercase;
    border: 3px solid var(--black);
}

.contactform button:hover {
    background-color: var(--white);
    border: 3px solid var(--beige);
}

.errorbox {
    display: none;
    background-color: var(--beige);
    border: 1px solid var(--red);
    font-size: 0.8em;
    width: 225px;
    padding: 2px 5px;
}

.successmessage {
    display: block;
    background-color: var(--white);
    margin: 30px auto;
    padding: 10px 0;
    width: 300px;
    border: 1px solid var(--beige);
    border-radius: 20px;
}

.successmessage p {
    text-align: center;
    font-size: 1.3em;
}





@media screen and (min-width: 500px){

/* HOME */

.mobimg {
    height: 600px;
    position: 90%;
}

.quote1 {
    font-size: 1.2em;
    padding: 20px;
    line-height: 30px;
    background-color: transparent;
    line-height: 20px;
}


.welcometxt {
    margin-left: 80px;
}

.heritagetext h2 {
    font-size: 2em;
}

.heritagetext p {
    font-size: 1.1em;
}



}

@media screen and (min-width: 768px){


/* HOME */


/* BLOG */

.borderstyle {
    border-left: 20px groove var(--beige);
    border-right: 20px  var(--beige);
}

.postcontainer {
    border: none;
}

.postbox {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    max-width: 900px;
}

.postcontent {
    height: 420px;
}

.text-justify {
    height: 65px;
}

.butaimg {
    margin-bottom: 0;
}

.blogquote {
    display: block;
    background-image: url(/images/pancakes.jpeg);
    object-fit: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 40%;
    border-radius: 5px;
    height: 140px;

}

.pagename p {
    display: block;
    color: var(--black);
    font-size: 1.8em;
    max-width: 50%;
    margin: auto 40px;
    padding: 30px 0;
    height: 140px;
    border: none;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


/*
.pagename {
    margin: 0 20px;
}

.pagename p {
    display: block;
    text-align: center;
    font-family: var(--della);
    color: var(--beige);
    font-size: 1em;
    max-width: 320px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid var(--beige);
    border-radius: 40px;
    -webkit-text-stroke: 0.6px var(--black);
    text-transform: none;
}

.postcontent {
    border: 3px solid var(--beige);
    margin: 20px 30px;
    color: var(--black);
}

.postcontent:hover {
    border: 3px ridge var(--black);
}

.postcontent h2 {
    color: var(--black);
    margin: 10px;
    padding: 2px 0;
    font-size: 1.1em;
}

.text-justify {
    color: var(--black);
    font-size: 0.9em;
    margin: -10px 10px 30px;
}

.postcontent button {
    display: block;
    color: var(--black);
    font-family: var(--della);
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: var(--white);
    border: 3px solid var(--beige);
    box-shadow: 0 2px 10px 0px var(--beige);
    border-radius: 60px;
    margin: 20px auto;
    width: 80%;
    height: 40px;
}

.postcontent button:hover {
    border: 3px unset var(--black);
    box-shadow: 0 2px 20px 0px var(--beige);
    font-size: 0.9em;
}

.r-m-btn span {
    font-size: 1.2em;
}

.postsimage {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.postsimage:hover {
    opacity: 0.8;
}

.butaimg {
    display: block;
    margin: 30px auto;
    width: 30px;
    transform: rotate(-25deg);
}
*/

/* BLOGPAGE */
/* ABOUT */
/* CONTACT */
}