:root {
    --beige: #BFAFB0;
    --white: #fff;
    --black: #000;
    --della:'Della Respira', serif;
    --water:'Water Brush', cursive;
    --kaus: 'Kaushan Script', cursive;
}

@media screen and (min-width: 500px){

    /*/HOME*/
    
    .mobimg {
        height: 380px;
    }
    
    .quote1 {
        font-size: 4em;
        padding: 20px;
        line-height: 30px;
        background-color: blue;
    }
    
    .heritagetext h2 {
        font-size: 3em;
    }
    
    
    }