:root {
    --beige: #BFAFB0;
    --white: #fff;
    --black: #000;
    --red: #d31f1f;
    --della:'Della Respira', serif;
    --water:'Water Brush', cursive;
    --kaus: 'Kaushan Script', cursive;
}

/* LOADER FOR PAGE*/

.loadingbox {
    display: block;  
}

.loader {
    font-family: var(--della);
    border-top: 3px solid var(--beige);
    color: var(--red);
    font-size: 1.4em;
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;
}

.loader-indicator {
    border: 6px solid var(--beige);
    border-top: 6px solid var(--black);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
   0% { transform: rotate(0deg);}
   100% { transform: rotate(360deg);}
}


/* ERRORMESSAGE */

.errorMessage {
    display: block;
    width: max-content;
    font-size: 1.2em;
    color: var(--red);
    padding: 1.5rem;
    margin: 30px auto;
    grid-column-end: span 3;
}


/* LOAD PAGES BUTTON */

.loadmorebtn {
    display: flex;
    font-family: var(--della);
    background-color: var(--white);
    border-radius: 10px;
    align-items: center;
    margin: 30px auto 0;
    padding: 10px 20px;
    font-size: 1.2em;
    text-transform: uppercase;
    border: 5px double var(--beige);
    box-shadow: 5px 3px 10px var(--beige);

}

.loadmorebtn:hover {
    background-color: var(--beige);
    color: var(--black);
}

.loadbtn {
    margin: 50px 0 0;
    padding-bottom: 50px;
}



/* SEARCH */

.searchbox {
    display: flex;
    height: 20px;
    border-radius: 60px;
    background-color: var(--beige);
    box-shadow: 0 1px 10px var(--black);
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    margin: 30px auto 50px;
}

.searchbox label {
    display: none;
    visibility: hidden;
}

.searchbox input {
    position: relative;
    padding-left: 1px;
    font-size: 1em;
    margin-left: 10px;
}

.searchbox:hover input  {
    width: 220px;
    transition: 0.7s;
}

.searchbox:hover {
    transition: 0.1s;
    border: 2px solid var(--beige);
    width: 280px;
}

.searchbox input, .searchbox {
    background-color: transparent;
    outline: none;
    width: 0;
    border: none;
}

.searchbox button  {
    display: block;
    background-color: var(--beige);
    justify-content: center;
    padding: 13px 15px;
    border-radius: 50%;
    border: 1px solid var(--black);
}

.searchbox:hover button {
    display: inline;
    border: none;
    padding: 7px 8px;
    margin-left: -10px;
    margin: auto;
}

.searchresult {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--beige);
    width: 100%;
}

.searchcontent{
    display: block;
    background-color: var(--white);
    justify-content: center;
    width: 200px;
    height: 220px;
    margin: 10px auto;
    justify-content: left;
    border: 2px solid var(--black);
}

.searchcontent:hover {
    border: 2px solid var(--white);

}

.searchcontent img {
    width:100%;
    height: 150px;
    object-fit: cover;
}

.searchcontent h3 {
    text-transform: uppercase;
    padding: 10px;
    color: var(--black);
}

.searcherr {
    text-align: center;
    margin: auto;
    padding: 10px 0;
    text-transform: uppercase;
}

/* CAROUSEL */

 .carousel {
    width: 95%;
    position: relative;
    margin: 30px auto;
}

.carouselheading, .carouselbtn {
    display: block;
    text-align: center;
    font-family: var(--della);
    text-transform: uppercase;
    background-color: var(--white);
    font-size: 1.5em;
    color: var(--black);
    margin: 2px auto;
    padding: 10px 0 15px; 
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 60px 1px var(--beige);
    text-shadow: 2px 4px var(--beige);
}

.carouselbtn a {
    font-size: 0.7em;
    text-shadow: none;
    border: 3px solid var(--beige);
    background-color: var(--white);
    padding: 0px 10px;
    color: var(--black);
}

.carouselbtn:hover a {
    border-color: var(--black);
}

.carlink, .carouselbtn a {
    box-shadow: 5px 5px 10px var(--beige);
}

#carousel-sec {
    width: 95%;
    margin: 10px auto;
    padding: 20px 0;
    background-image: url(/images/Paisley5.jpeg);
    background-size: 170px;
    border-bottom: 4px solid var(--beige);
}

.carouselcontent{
    display: block;
    background-color: var(--white);
    max-width: 370px;
    width: 85%;
    margin: 30px auto;
    border: 5px solid var(--black);
    padding: 0 0 20px;
    box-shadow: 0px 0px 25px var(--black);
}

.carouselcontent:hover {
    border: 5px solid var(--beige);
    border-radius: none;
}

.carimage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cartitle {
    color: var(--black);
    font-size: 1.3em;
    letter-spacing: 2px;
    padding: 0 5px;
    margin: 5px 5px 20px;
}

.cartext {
    font-size: 1.1em;
}

.carlink {
    display: block;
    font-family: var(--della);
    margin: auto;
    padding: 2px 0;
    color:  var(--black);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--white);
    border: 3px solid var(--beige);
    width: 70%;
    border-radius: 20px;
}

.carlink:hover {
    border: 3px solid var(--black);
}

.carousel ul {
    margin: 0;
    padding: 0;
}

.carbtnpre, .carbtnnext {
    position: absolute;
    z-index: 2;
    transform: translateY(40%);
    top: 40%;
    width: 40px;
    height: 40px;
    background-color: var(--beige);
    border: 1px solid var(--black);
    border-radius: 50%;
}

.carbtnpre, .carbtnnext {
    display: none;
    visibility: hidden;
}

.post-aut-date2, .caritemblock i, .post-aut-date3 {
    font-size: 0.6em;
    max-width: 300px;
    color: var(--black);
    text-transform: capitalize;
    letter-spacing: 0.1em;
    margin: 5px 5px 10px;
}

.post-aut-date3 {
    margin: 50px 20px 10px;
}
.fa-calendar-days:before  {
    margin-left: 10px;
}

.rotate {
    transform: rotate(180deg);
    padding-top: -3px;
} 


/* MODAL */

.modalimage {
    display: flex;
    position: fixed;
    z-index: 1000;
    overflow: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
}

.modalimg:hover {
    transform: scale(0.9);
}

.modalimage.open{
    opacity: 1;
    pointer-events: all;
    animation: zoom 0.4s linear;
}

.modalcontent{
    display: block;
    justify-content: center;
    margin: auto;
}
.modalcontent img{
    display: block;
    width: 80%;
    justify-content: center;
    margin: auto;
    border: 3px solid var(--beige);
    max-width: 800px;
    max-height: 700px;
}



@media screen and (min-width: 500px){

/* CAROUSEL */

#carousel-sec {
    border-right: 15px ridge var(--beige);
    border-left: 15px groove var(--beige);
}

.carousel {
    width: 100%;
    padding-top: 20px;
    margin: 0 auto 0;
}

}

@media screen and (min-width: 768px){

/* CAROUSEL */


#carousel-sec {
    background-image: none;
    background-color: var(--beige);
    position: relative;
    border: none;
    width: 100%;
    overflow: hidden;
    max-width: 768px;
    margin: 50px auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding-left: 40px;
    gap: 74px;
}

.carouselcontent {
    min-width: 600px;
    margin-left: 42px;
    padding: 0;
}

.carouselcontent:hover {
    border: 5px solid var(--white) ;
}

.carouselbtn a {
    padding: 0 30px;
    font-size: 1em;
}

.carimage {
    min-height: 290px;
    object-fit: cover;
    min-width: 350px;
    max-width: 350px;
    padding: 0;
}

.caritem {
    display: flex;
    width: 100%;
}

.carbtnnext, .carbtnpre {
    display: block;
    visibility: visible;
    top: 45%;
    width: 60px;
    height: 60px; 
}

.carbtnpre {
    left: 5px;
    box-shadow: -5px 10px 20px 0 var(--black);
}

.carbtnnext {
    right: 5px;
    box-shadow: 5px 10px 20px 0 var(--black);
} 

.carbtnnext span, .carbtnpre span  {
    display: block;
    scale: 2.2;
}

.cartitle {
    color: var(--black);
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 10px 5px;
    margin: 5px 5px 20px;
}
 
.cartext p {
    font-size: 1.1em;
    height: 120px;
}

.carlink {
    display: block;
    font-family: var(--della);
    margin: auto;
    padding: 2px 0;
    color:  var(--black);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--white);
    border: 3px solid var(--beige);
    width: 70%;
    border-radius: 20px;
}

.carlink:hover {
    border: 3px solid var(--black);
}

.post-aut-date2, .caritemblock i, .post-aut-date3 {
    font-size: 0.7em;
    max-width: 300px;
    color: var(--black);
    text-transform: capitalize;
    letter-spacing: 0.1em;
    margin: 5px 5px 10px;
}

.post-aut-date3 {
    margin: 50px 20px 15px;
}

.rotate {
    transform: rotate(180deg);
    padding-top: -3px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}


/* SEARCH */

.searchcontent{
    width: 30%;
    height: 180px;
    margin: 10px;
}

.searchcontent img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.searchcontent h3 {
    padding: 0 10px;
}


}

@media screen and (min-width: 1000px){

/* CAROUSEL */

#carousel-sec {
    width: 100%;
    max-width: 1000px;
    border-top: 4px solid var(--black);
    border-bottom: 4px solid var(--black);
}

.carousel {
    gap: 65px;
}

.carouselcontent {
    width: 100%;
    min-width: 800px;
    margin-left: 60px;
}

.carouselcontent:hover {
    border: 5px solid var(--white) ;
}

.carimage {
    height: 350px;
    object-fit: cover;
    min-width: 500px;
}

.caritem {
    display: flex;
    width: 100%;
}

.carbtnpre {
    left: 15px;
}

.carbtnnext {
    right: 15px;
} 

.carbtnnext span, .carbtnpre span  {
    scale: 3;
}

.cartitle {
    font-size: 2em;
}

.cartext p {
    font-size: 1.2em;
    max-width: 300px;
    padding: 20px 0 0;
    height: 110px;
}

.post-aut-date2  {
    font-size: 1em;
    width: 400px;
}

.carlink {
    margin: 20px auto 0;
    width: 60%;
}

/* BLOG */


}





